img {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
	position: relative;
}

body, html {
	margin: 0;
	overflow: hidden;
}

* {
	box-sizing: border-box;
}

.carousel {
	overflow: hidden;
	float: left;
	/*height: 50vh;*/
}

.carousel div {
	background-size: cover!important;
	background-position: center center;
	height: 100%;
}

.container:before {
	width: 5px;
	background: #fff;
	position: absolute;
	right: 50%;
	height: 100%;
	z-index: 1;
	content: '';
}

.container:after {
	height: 5px;
	background: #fff;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 1;
	content: '';
	left: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: radial-gradient(circle,#0E6734,#BB1F24 70%);
	z-index: 2;
	opacity: .75;
}

.logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	width: 300px;
	box-shadow: 0px 0px 100px #000;
	border-radius: 20px;
	background: #fff;
	overflow: hidden;
}

.logo img {
	border-radius: 20px;
	padding: 0 12px;
}

@media (max-width: 812px) {

.logo {
	width: 60%;
}

.logo img {
	padding: 0 5px;
}
}

/* HEARTBEAT ANIMATION */

.heart {
	animation: beat 2s infinite;
}

@keyframes beat {
	from {
		transform: scale(1);
		transform-origin: center center;
		animation-timing-function: ease-out;
	}
	10% {
		transform: scale(1.1);
		animation-timing-function: ease-in;
	}
	15% {
		transform: scale(1);
		animation-timing-function: ease-out;
	}
	25% {
		transform: scale(1.05);
		animation-timing-function: ease-in;
	}
  35% {
    transform: scale(1);
		animation-timing-function: ease-out;
  }
}